$base-bg-color: #1976d2;
$base-border-color: rgba(0, 0, 0, 0.2);
$grid-hearder-bg-color: #f1efef;

::ng-deep .form-base {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  color: rga(0, 0, 0, 0.9);
  .form-base-col {
    border: 1px solid $base-border-color;
  }
  .form-base-col-leftpanel {
    width: 0%;
  }
  .form-base-col-rightpanel {
    .right-panel-body {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid $base-border-color;
    }
    width: 99%;
    box-shadow: 5px 8px 6px #ccc;
    margin: auto;

    .rightpanel-titlepanel {
      position: relative;
      background-color: $base-bg-color;
      padding: 5px 10px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      color: white;
      min-height: 32px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      .rightpanel-titlepanel-button {
        position: absolute;
        display: flex;
        flex-direction: row;
        right: 10px;

        .rightpanel-optionpanel-checkbox {
          position: absolute;
          min-height: 100px;
          width: 530px;
          right: 10px;
          top: 25px;
          border: 2px solid lightblue;
          background-color: #fff;
          z-index: 9999;
          padding: 10px 20px;
          box-shadow: 3px 2px 5px #ccc;
          text-transform: none;
          color: #4b4b4b;
          font-weight: 400;
          .rightpanel-optionpanel-checkbox-cbx {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            div {
              align-items: flex-start;
              width: 120px;
              text-align: left;
              position: relative;
              margin-top: 10px;
              label {
                margin-left: 5px;
                margin-top: -2px;
                position: absolute;
              }
            }
          }
          .rightpanel-optionpanel-checkbox-btn {
            float: right;
          }
        }
      }
    }
    .rightpanel-searchpanel {
      min-height: 80px;
      width: 100%;
      padding: 10px 20px;
      .rightpanel-search-items {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width: 30%;
        display: flex;
        flex-direction: row;
        .col-label {
          min-width: 100px;
        }
        .col-input {
          width: 100%;
          input {
            width: 90%;
          }
        }
      }
    }

    .table-report-header {
      text-align: center;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.9);
      background-color: $grid-hearder-bg-color;
    }

    .table-report-body {
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
    }
  }

  .fa-button {
    padding: 6px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: none;
    margin-left: 5px;
    min-width: 90px;
    text-align: center;
  }
  .fa-button-white {
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
  }

  .fa-button-blue {
    background-color: $base-bg-color;
    color: #fff;
  }
}
// ::ng-deep .modal-dialog {
//   max-width: 500px;
// }
::ng-deep .modal {
  margin-top: 100px;
  font-size: 13px;
  .modal-header {
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 650;
    i {
      cursor: pointer;
      font-size: 14px;
    }
  }

  .modal-body {
    padding: 5px 10px;
    .modal-content {
      border: none;
    }
    input[type="text"] {
      width: 100%;
      padding-left: 10px;
      border: 1px solid lightgray;
      height: 30px;
    }
    table {
      width: 100%;
      td {
        padding: 5px;
      }
    }
  }
  .modal-footer {
    padding: 5px 10px;
  }
  .col-label {
    width: 100px;
  }
}
.modal-message-success {
  background-color: rgba(0, 136, 0, 0.6);
  padding: 5px 10px;
  color: white;
}

.modal-message-error {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px 10px;
  color: white;
}

.modal-message-info {
  background-color: rgba(0, 136, 0, 0.705);
  padding: 5px 10px;
  color: white;
  font-style: italic;
}

.modal-message-warning {
  background-color: darkkhaki;
  padding: 5px 10px;
  color: white;
  font-style: italic;
}
.button {
  margin-left: 5px;
  background-color: $base-bg-color;
  color: white;
  border: 1px solid $base-border-color;
  color: rgba(256, 256, 256, 0.9);
  border-radius: 3px;
  height: 30px;
  min-width: 80px;
}
.button-primary {
  background-color: $base-bg-color;
}
.button-dangerous {
  background-color: orangered;
}
::ng-deep .k-toolbar {
  justify-content: flex-end;
  padding: 1px 20px 1px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  background-color: $grid-hearder-bg-color;
  border-top: 1px solid $base-border-color;
  i {
    background-color: rgb(252, 252, 252) !important;
  }
}

::ng-deep .k-grid {
  tr {
    .k-alt {
      background-color: rgba(0, 0, 0, 0.04);
    }
    td {
      border: 1px solid $base-border-color;
      border-width: 0 0 1px 1px;
    }
    th {
      border: 1px solid $base-border-color;
      border-width: 1px 0 1px 1px;
    }
  }
  .k-button {
    border-color: $base-border-color;
    color: #656565;
    background-color: #ffffff;
    background-image: none;
    padding: 4px 6px;
  }
}
