.form-base {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;

  .form-base-col {
    padding: 10px;
    border: 1px solid lightblue;
  }
  .form-base-col-leftpanel {
    width: 0%;
  }
  .form-base-col-rightpanel {
    width: 95%;
    box-shadow: 5px 8px 6px #ccc;
    margin: auto;

    .rightpanel-titlepanel {
      position: relative;
      background-color: #1976d2;
      padding: 5px 10px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      color: white;
      min-height: 32px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      .rightpanel-titlepanel-button {
        position: absolute;
        display: flex;
        flex-direction: row;
        right: 10px;
        margin-top: 4px;
        i {
          font-size: 17px;
          margin-left: 10px;
          cursor: pointer;
        }
        .rightpanel-optionpanel-checkbox {
          position: absolute;
          min-height: 100px;
          width: 530px;
          right: 10px;
          top: 25px;
          border: 2px solid lightblue;
          background-color: #fff;
          z-index: 9999;
          padding: 10px 20px;
          box-shadow: 3px 2px 5px #ccc;
          text-transform: none;
          color: #4b4b4b;
          font-weight: 400;
          .rightpanel-optionpanel-checkbox-cbx {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            div {
              align-items: flex-start;
              width: 120px;
              text-align: left;
              position: relative;
              margin-top: 10px;
              label {
                margin-left: 5px;
                margin-top: -2px;
                position: absolute;
              }
            }
          }
          .rightpanel-optionpanel-checkbox-btn {
            float: right;
          }
        }
      }
    }
    ::ng-deep .rightpanel-searchpanel {
      min-height: 100px;
      border: 1px solid lightblue;
      padding: 10px 20px;
      input[type="text"] {
        width: 250px;
        height: 27px;
        padding-left: 10px;
        border: 1px solid lightgray;
      }
      table {
        width: 100%;
        td {
          padding: 5px;
        }
      }
      .rightpanel-buttonpanel {
        margin-top: 5px;
        width: 100%;
        text-align: center;
      }
    }
    .rightpanel-optionpanel {
      width: 100%;
      border: 1px solid lightblue;
      .rightpanel-optionpanel-option {
        height: 30px;
        text-align: right;
        background-color: lightblue;
        padding: 5px 10px;
        position: relative;
        i {
          font-size: 18px;
          font-weight: 500;
          color: blue;
          margin-left: 20px;
          cursor: pointer;
        }
      }
    }
  }
  ::ng-deep .col-label {
    width: 100px;
  }
}

::ng-deep .modal {
  margin-top: 100px;
  font-size: 13px;
  .modal-header {
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 650;
    i {
      cursor: pointer;
      font-size: 14px;
    }
  }

  .modal-message-success {
    background-color: rgba(0, 136, 0, 0.705);
    padding: 5px 10px;
    color: white;
  }

  .modal-message-error {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px 10px;
    color: white;
  }

  .modal-message-info {
    background-color: rgba(0, 136, 0, 0.705);
    padding: 5px 10px;
    color: white;
    font-style: italic;
  }

  .modal-message-warning {
    background-color: darkkhaki;
    padding: 5px 10px;
    color: white;
    font-style: italic;
  }

  .modal-body {
    padding: 5px 10px;
    .modal-content {
      border: none;
    }
    input[type="text"] {
      width: 100%;
      padding-left: 10px;
      border: 1px solid lightgray;
      height: 30px;
    }
    table {
      width: 100%;
      td {
        padding: 5px;
      }
    }
  }
  .col-label {
    width: 100px;
  }
}
.button {
  margin-left: 5px;
  background-color: #1976d2;
  color: white;
  height: 35px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
  padding-top: -5px;
}

.button-sm {
  margin-left: 5px;
  background-color: #1976d2;
  color: white;
  height: 25px;
  width: 60px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
  padding-top: -5px;
}

.button-dangerous {
  margin-left: 5px;
  background-color: orangered;
  color: white;
  height: 35px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
}
::ng-deep .k-toolbar {
  justify-content: flex-end;
  padding-right: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  .fa {
    cursor: pointer;
    .k-icon {
      font-size: 18px;
    }
  }
  .fa-bars {
    color: #1976d2;
  }
  .rightpanel-optionpanel-checkbox {
    position: absolute;
    min-height: 100px;
    width: 530px;
    right: 10px;
    top: 25px;
    border: 1px solid rgb(1, 136, 182);
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
    padding: 10px 20px;
    box-shadow: 2px 3px 3px 2px #ccc;

    .rightpanel-optionpanel-checkbox-cbx {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      div {
        align-items: flex-start;
        width: 120px;
        text-align: left;
        position: relative;
        margin-top: 10px;
        label {
          margin-left: 5px;
          margin-top: -2px;
          position: absolute;
        }
      }
    }
  }
}
::ng-deep .k-grid-table {
  i {
    font-size: 17px;
  }
}
