.form-base {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;

  .form-base-col {
    padding: 10px;
    border: 1px solid lightblue;
  }
  .form-base-col-leftpanel {
    width: 0%;
  }
  .form-base-col-rightpanel {
    width: 95%;
    box-shadow: 5px 8px 6px #ccc;
    margin: auto;

    .rightpanel-titlepanel {
      background-color: #1976d2;
      padding: 5px 10px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      color: white;
      min-height: 32px;
      width: 100%;
    }
    ::ng-deep .rightpanel-searchpanel {
      min-height: 100px;
      border: 1px solid lightblue;
      padding: 10px 20px;
      input[type="text"] {
        width: 250px;
        height: 27px;
        padding-left: 10px;
        border: 1px solid lightgray;
      }
      table {
        width: 100%;
        td {
          padding: 5px;
        }
      }
      .rightpanel-buttonpanel {
        margin-top: 5px;
        width: 100%;
        text-align: center;
      }
    }
    .rightpanel-optionpanel {
      width: 100%;
      border: 1px solid lightblue;
      .rightpanel-optionpanel-option {
        height: 30px;
        text-align: right;
        background-color: lightblue;
        padding: 5px 10px;
      }
    }
  }
  ::ng-deep .col-label {
    width: 100px;
  }
}

::ng-deep .modal {
  margin-top: 100px;
  font-size: 13px;
  .modal-header {
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 650;
    i {
      cursor: pointer;
      font-size: 14px;
    }
  }

  .modal-message-success {
    background-color: rgba(0, 136, 0, 0.705);
    padding: 5px 10px;
    color: white;
  }

  .modal-message-error {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px 10px;
    color: white;
  }

  .modal-message-info {
    background-color: rgba(0, 136, 0, 0.705);
    padding: 5px 10px;
    color: white;
    font-style: italic;
  }

  .modal-message-warning {
    background-color: darkkhaki;
    padding: 5px 10px;
    color: white;
    font-style: italic;
  }

  .modal-body {
    padding: 5px 10px;
    .modal-content {
      border: none;
    }
    input[type="text"] {
      width: 100%;
      padding-left: 10px;
      border: 1px solid lightgray;
      height: 30px;
    }
    table {
      width: 100%;
      td {
        padding: 5px;
      }
    }
  }
  .col-label {
    width: 100px;
  }
}
.button {
  margin-left: 5px;
  background-color: #1976d2;
  color: white;
  height: 35px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
  padding-top: -5px;
}

.button-dangerous {
  margin-left: 5px;
  background-color: orangered;
  color: white;
  height: 35px;
  border: none;
  border-radius: 5px;
  min-width: 80px;
}
