<div class="panelContainer">
  <div class="panelContainer-search">
    <div class="panelContainer-search-icon">
      <img
        src="assets/icons/Blue0.png"
        alt="iconxe"
        height="25px"
        width="25px"
      />
    </div>
    <div class="panelContainer-search-input">
      <ng-autocomplete
        [data]="ListVehiclesTemp"
        #autocompleteVehicle
        searchKeyword="vehiclePlate"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        [(ngModel)]="CurrentVehicle"
        placeholder="Nhập biển kiểm soát"
        (selected)="selectVehicle($event)"
        [minQueryLength]="1"
      >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.vehiclePlate"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
  <div class="panelContainer-config">
    <select
      #vhState
      id="ddlVehicleState"
      class="select-dropdown"
      (change)="selectVehicleState(vhState.value)"
      [(ngModel)]="CurrentVehicleState4Search"
    >
      <option value="0" selected>Tất cả</option>
      <option value="1">Xe dừng đỗ</option>
      <option value="2">Xe di chuyển</option>
      <option value="3">Xe quá tốc độ</option>
      <option value="4">Xe mất tín hiệu</option>
    </select>
  </div>
  <div class="panelContainer-button"></div>
  <div class="panelContainer-data">
    <virtual-scroller #vs [items]="ListVehiclesTemp" [scrollAnimationTime]="0">
      <table class="control-table">
        <thead #header>
          <tr>
            <th style="width: 20px"></th>
            <th class="control-table-col2" style="width: 100px">Biển số</th>
            <th style="width: 60px">Thời gian</th>
            <th style="width: 50px">V(Gps)</th>
            <th style="width: 50px">V(Cơ)</th>
          </tr>
        </thead>
        <tbody #container>
          <tr
            *ngFor="let v of vs.viewPortItems"
            (click)="selectVehicle(v)"
            [ngClass]="{
              'control-table-tr-active':
                CurrentVehicle.vehicleId === v.vehicleId
            }"
            [id]="v.vehicleId"
          >
            <td><img src="{{ v.iconPath }}" height="18" width="18" /></td>
            <td class="control-table-col2">{{ v.vehiclePlate }}</td>
            <td style="word-wrap: unset">
              {{ v.gpsTime | time }}
            </td>
            <td>{{ v.velocity }}</td>
            <td>{{ v.velocityMechanical }}</td>
          </tr>
        </tbody>
      </table>
    </virtual-scroller>
  </div>
  <div class="panelContainer-status">
    <div
      (click)="selectVehicleState('1')"
      [ngClass]="{
        'panelContainer-status-item-active': CurrentVehicleState4Search === '1',
        'panelContainer-status-item': CurrentVehicleState4Search !== '1'
      }"
    >
      <img src="/assets/icons/Gray0.png" />
      <label class="panelContainer-status-item-label">{{
        numberVehicleXeDungDo
      }}</label>
      <span>Dừng đỗ</span>
    </div>
    <div
      (click)="selectVehicleState('2')"
      [ngClass]="{
        'panelContainer-status-item-active': CurrentVehicleState4Search === '2',
        'panelContainer-status-item': CurrentVehicleState4Search !== '2'
      }"
    >
      <img src="/assets/icons/Blue0.png" />
      <label class="panelContainer-status-item-label">{{
        numberVehicleDiChuyen
      }}</label>
      <span>Di chuyển</span>
    </div>
    <div
      (click)="selectVehicleState('3')"
      [ngClass]="{
        'panelContainer-status-item-active': CurrentVehicleState4Search === '3',
        'panelContainer-status-item': CurrentVehicleState4Search !== '3'
      }"
    >
      <img src="/assets/icons/Red0.png" />
      <label class="panelContainer-status-item-label">{{
        numberVehicleQuaTocDo
      }}</label>
      <span>Quá tốc</span>
    </div>
    <div
      (click)="selectVehicleState('4')"
      [ngClass]="{
        'panelContainer-status-item-active': CurrentVehicleState4Search === '4',
        'panelContainer-status-item': CurrentVehicleState4Search !== '4'
      }"
    >
      <img src="/assets/icons/GpsLost.png" />
      <label class="panelContainer-status-item-label">{{
        numberVehicleLostGPS
      }}</label>
      <span>Mất GPS</span>
    </div>
  </div>
</div>
