<div class="panelContainer">
  <div class="panelContainer-search">
    <div class="panelContainer-search-icon">
      <img
        src="assets/icons/Blue0.png"
        alt="iconxe"
        height="25px"
        width="25px"
      />
    </div>
    <div class="panelContainer-search-input">
      <ng-autocomplete
        #au
        searchKeyword="VehiclePlate"
        [data]="ListVehiclesTemp"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        [(ngModel)]="CurrentSelectedVehicle"
        placeholder="Nhập biển kiểm soát"
        (selected)="selectVehicle($event)"
      >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.VehiclePlate"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
  <div class="panelContainer-config">
    <select
      #vhState
      id="ddlVehicleState"
      class="select-dropdown"
      (change)="selectVehicleState(vhState.value)"
    >
      <option value="0" selected>Tất cả</option>
      <option value="1">Xe dừng đỗ</option>
      <option value="2">Xe di chuyển</option>
      <option value="3">Xe quá tốc độ</option>
      <option value="4">Xe mất tín hiệu</option>
    </select>
  </div>
  <div class="panelContainer-button"></div>
  <div class="panelContainer-data">
    <virtual-scroller
      #vs
      [items]="ListVehiclesTemp"
      [childHeight]="10"
      [scrollAnimationTime]="0"
    >
      <table class="control-table">
        <thead #header>
          <tr>
            <th style="width: 20px"></th>
            <th class="control-table-col2" style="width: 100px">Biển số</th>
            <th style="width: 50px">Thời gian</th>
            <th style="width: 50px">V(gps)</th>
          </tr>
        </thead>
        <tbody *ngIf="!IsOnlinePage" #container>
          <tr
            *ngFor="let v of vs.viewPortItems"
            (click)="selectVehicle(v)"
            [ngClass]="{
              'control-table-tr-active':
                CurrentVehicleIDSelected === v.VehicleId
            }"
            [id]="v.VehicleId"
          >
            <td><img src="assets/icons/Blue0.png" height="18" width="18" /></td>
            <td class="control-table-col2">{{ v.VehiclePlate }}</td>
            <td style="word-wrap: unset">
              {{ v.GPSTime | time }}
            </td>
            <td *ngIf="false">
              {{ v.Latitude.toFixed(6) }} - {{ v.Longitude.toFixed(6) }}
            </td>
            <td>{{ v.Velocity }}</td>
          </tr>
        </tbody>
      </table>
    </virtual-scroller>
  </div>
  <div class="panelContainer-status">
    <label>Tổng số xe: </label>
    <label class="panelContainer-status-item">{{
      IsOnlinePage ? ListVehicleOnlinesTemp.length : ListVehiclesTemp.length
    }}</label>
  </div>
</div>
