<div class="divPopupVehicle">
  <table class="tbl-popup-marker">
    <tr class="row-detail-header">
      <td colspan="2">Biển số: {{ VehiclePlate }}</td>
    </tr>
    <tr>
      <td colspan="2"><hr /></td>
    </tr>
    <tr>
      <td class="row-detail-body-col1">Thời gian online</td>
      <td class="row-detail-body-col2">
        {{ VehicleTime }}
      </td>
    </tr>
    <tr>
      <td class="row-detail-body-col1">Tốc độ</td>
      <td class="row-detail-body-col2">{{ Velocity }} km/h</td>
    </tr>
    <tr>
      <td class="row-detail-body-col1">Toạ độ</td>
      <td class="row-detail-body-col2">
        {{ Location }}
      </td>
    </tr>
    <tr>
      <td class="row-detail-body-col1">Địa chỉ</td>
      <td class="row-detail-body-col2">
        {{ Address }}
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr /></td>
    </tr>
    <tr>
      <td class="row-detail-body-col1">Máy</td>
      <td class="row-detail-body-col2">
        {{ MachineState }}
      </td>
    </tr>
    <tr>
      <td class="row-detail-body-col1">Cửa</td>
      <td class="row-detail-body-col2">
        {{ DoorState }}
      </td>
    </tr>
  </table>
</div>
